$background-color: #F4F6F7;
$font-family: Helvetica,Arial,sans-serif;
$primary-text-color: #0F2B43;
$secondary-text-color: #375167;
$accent-color: #1FBA97;
$grey: #999999;
$red: #c33;
$link-color: #07c;
$margin: 20px;
$fw: 600;


@function calculateRem($size) {
  	$remSize: $size / 16px;
  	@return $remSize * 1rem;
}

@mixin font-size($size) {
  	font-size: $size;
  	font-size: calculateRem($size);
}


/* Foundation 
-------------------------*/
	html,
	body {
		padding: 0;
		padding-top: 30px;
		margin: 0;
		-webkit-font-smoothing: antialiased;
		font-family: $font-family;
		background-color: $background-color;
		@include font-size(16px);
		color: $primary-text-color;
	}

	a {
		color:$accent-color;
	}

	button.btn {
  		padding: 8px 16px;
		font-weight: 600;
		text-decoration: none;
		border-radius: 0;
		border:$accent-color solid 2px;
		color: darken( $accent-color, 10% );
		background:none;
  	}

	hr {
		border-color:darken( $background-color, 5% );
	}

	h1 {
		@include font-size(22px);
		font-weight: $fw;
		margin-bottom: $margin;
	}

	.navbar {
		border-radius:0;
		border:none;
		.navbar-text {
			margin:0 15px;
			line-height: 49px;
		}
		.navbar-text,
		.navbar-brand {
			color:#fff;
		}
		a {
			color: $grey;
			text-decoration: none;
		}
		small a {
			font-size: 0.75rem;
		}
		small a:hover {
			color:white;
		}
	}

/* Overview 
-------------------------*/
	.well {
		background-color:#fff;
		border-color: darken($background-color, 3%);
		border-bottom:none;
		box-shadow: 0 6px 5px -8px #333;
		border-radius:0;
		margin-bottom: 15px;

		img.media-object {
			margin-left: -19px;
			width: 120px;
		}

		h4 {
			@include font-size(18px);
			font-weight: $fw;
			margin-top: $margin;
			line-height: 1.4;
		}

		p {
			@include font-size(14px);
			color: $secondary-text-color;
			line-height: 1.7;
		}
		span.price {
			display: block;
			font-weight: $fw;
			margin-top: $margin;
			margin-bottom: $margin/3;
			text-align: center;
		}
	}

@media (max-width: 768px) {
	.container-fluid {
		padding:0;
	}
}