/* Foundation 
-------------------------*/
html,
body {
  padding: 30px 0 10px 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  font-size: 16px;
  font-size: 1rem;
  color: #0F2B43; }

h1 {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 20px; }

button {
  background: none;
  border: none;
  outline: none !important; }

/* Top Navbar 
-------------------------*/
.navbar {
  border-radius: 0;
  border: none; }
  .navbar .navbar-text,
  .navbar .navbar-brand {
    color: #fff; }
  .navbar .navbar-text {
    margin: 0 15px;
    line-height: 50px; }
    .navbar .navbar-text span.glyphicon {
      margin-right: 5px; }
    .navbar .navbar-text span.badge {
      font-size: 14px;
      font-size: 0.875rem;
      padding: 0; }
    .navbar .navbar-text span.badge.active {
      background-color: #239548; }
    .navbar .navbar-text span.totalPrice {
      font-size: 13px;
      font-size: 0.8125rem;
      color: #222; }
    .navbar .navbar-text button {
      padding: 6px 12px;
      outline: none !important; }

/* Catalogue List 
-------------------------*/
.well {
  background-color: #fff;
  border-color: #eaeaea;
  border-bottom: none;
  box-shadow: 0 6px 5px -8px #333;
  border-radius: 0;
  margin-bottom: 10px; }
  .well h4 {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 20px;
    line-height: 1.4; }
  .well p {
    font-size: 14px;
    font-size: 0.875rem;
    color: #375167;
    line-height: 1.7; }
  .well .product-image {
    margin-right: 10px; }
    .well .product-image img.media-object {
      margin-left: -19px;
      width: 120px; }
  .well .product-price {
    margin-left: 10px; }
    .well .product-price button {
      padding: 10px 16px;
      font-weight: 600;
      text-decoration: none;
      border-radius: 3px;
      color: #fff !important;
      background-color: #239548; }
    .well .product-price button:hover {
      background-color: #1e803e; }
    .well .product-price button:active {
      background-color: #196c34; }
    .well .product-price span.price {
      display: block;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 6.66667px;
      text-align: center; }

/* Modal 
-------------------------*/
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  width: 100%;
  height: 100%; }

#modal #modalContent {
  position: fixed;
  overflow: auto;
  top: 80px;
  bottom: 40px;
  z-index: 6;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  max-width: 500px; }
#modal .panel-default {
  border: none;
  border-radius: 0; }
#modal .panel-heading {
  background-color: #239548;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 15px;
  font-weight: 600; }
  #modal .panel-heading button {
    color: #fff; }
#modal .panel-body {
  padding: 0; }
  #modal .panel-body .empty {
    margin: 0;
    padding: 30px 15px;
    text-align: center;
    font-weight: 600; }
  #modal .panel-body .media {
    padding: 15px;
    margin: 0;
    border-bottom: #eee solid 1px; }
    #modal .panel-body .media .media-heading {
      margin: 0;
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 1.2;
      font-weight: 600; }
    #modal .panel-body .media img {
      width: 50px; }
    #modal .panel-body .media span.title {
      font-size: 18px;
      font-size: 1.125rem;
      color: #0F2B43;
      display: block;
      font-weight: 600; }
    #modal .panel-body .media span.quantity {
      color: #666;
      font-size: 14px;
      font-size: 0.875rem; }
    #modal .panel-body .media span.price {
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 600; }
#modal .panel-footer {
  border: none;
  background-color: #eee;
  color: #131d25;
  border-radius: 0;
  padding: 15px;
  font-weight: 600;
  box-shadow: 0 8px 6px -6px #444; }
  #modal .panel-footer span.badge {
    background: none;
    font-size: 18px;
    font-size: 1.125rem;
    color: #131d25;
    padding: 0; }

@media (max-width: 768px) {
  .container-fluid {
    padding: 0; }

  .well h4 {
    margin-top: 0; }

  .well img {
    width: 50px !important;
    margin: 0 !important; } }

/*# sourceMappingURL=main.css.map */
