<nav class="navbar navbar-fixed-top navbar-inverse animated slideInDown">
	<div class="container-fluid">
    	<div class="navbar-inner">
     		<span class="navbar-brand">
        		House of Kaizen
      		</span>
	    	<span class="navbar-text pull-right">
				<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
				<span class="badge" data-ng-class="{active: totalItems}">
					<button data-ng-click="showModal(true)">
						<span class="totalItems">
							{{totalItems}}
							<ng-pluralize count="totalItems" when="{'0': 'items', '1': 'item', 'other': 'items'}"></ng-pluralize>
						</span>
						<span class="totalPrice">
							({{totalPrice | currency:'£'}})
						</span>
					</button>
				</span>
	    	</span>
	    </div>
  	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Catalogue
				<small>{{products.length}} products</small>
			</h1>
			<div class="row">
				<div class="col-md-12">
					<article class="well animated slideInUp" data-ng-repeat="product in products">
						<div class="media">
							<div class="media-body">
								<div class="pull-left product-image">
								  	<img class="media-object" data-ng-src="{{product.image_url}}" alt="{{product.title}}">
								</div>
								<div class="pull-right product-price">
									<span class="price">
										{{product.price | currency:'£'}}
									</span>
									<button class="btn primary" data-ng-click="addToCart($index, product)">Add to Cart</button>
								</div>
								<h4 class="media-heading">{{product.title}}</h4>
								<p>{{product.description}}</p>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="modal" data-ng-show="modal">
	<div id="overlay" class="animated fadeIn"></div>
	<div id="modalContent" class="animated slideInDown">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
				Cart Summary
				<button data-ng-click="showModal(false)" class="pull-right">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</div>
			<div class="panel-body">
				<p class="empty" data-ng-show="!totalItems">Empty Cart!</p>
				<div class="media" data-ng-repeat="item in cartItems track by $index">
					<div class="media-left">
					  	<img class="media-object" data-ng-src="{{item.product.image_url}}" alt="{{item.product.title}}">
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{item.product.title}}</h4>
						<span class="quantity">Quantity: {{item.total}} @ {{item.product.price | currency:'£'}} each</span>
					</div>
					<div class="media-right">
						<span class="price">
							{{item.total*item.product.price | currency:'£'}}
						</span>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				Total:
				<span class="badge total pull-right">{{totalPrice | currency:'£'}}</span>
			</div>
		</div>
	</div>
</div>



